@import "./_prefixes.scss";
@import "./_normalize.scss";
@import "./_icomoon.scss";
@import url("https://use.typekit.net/xln8mvd.css");

// Config vars
$dl: 1800;
$dt: 1440;
$ds: 1080;
$tb: 768;
$mb: 480;

$green: hsl(154, 33%, 37%);
$greenLight: hsl(154, 36%, 50%);
$greenMid: hsl(165, 56%, 22%);
$greenDark: hsl(174, 70%, 12%);
$gold: hsl(39, 77%, 60%);
$goldLight: hsl(43, 100%, 72%);
$goldDark: hsl(33, 57%, 47%);
$darkestGray: hsl(180, 5%, 19%);
$darkGray: hsl(163, 5%, 27%);
$midGray: hsl(156, 5%, 38%);
$midLightGray: hsl(153, 5%, 57%);
$lightGray: hsl(154, 6%, 75%);
$lightestGray: hsl(0, 0%, 95%);

$sizeList: 12 13 15 16 18 21 24 30 36 72;

@each $fontSize in $sizeList {
  %font-#{$fontSize} {
    @media screen and (min-width: $dl * 1px) {
      font-size: $fontSize / $dl * 85vw;
    }
    @media screen and (max-width: $dl * 1px) {
      font-size: $fontSize / $dl * 100vw;
    }
    @media screen and (max-width: $dt * 1px) {
      font-size: $fontSize / $dt * 100vw;
    }
    @media screen and (max-width: $ds * 1px) {
      font-size: $fontSize / $ds * 95vw;
    }
    @media screen and (max-width: $tb * 1px) {
      font-size: $fontSize / $tb * 90vw;
    }
    @media screen and (max-width: $mb * 1px) {
      font-size: $fontSize / $mb * 87.5vw;
    }
  }
}

%col-8 {
  width: 62.5vw;
  @media screen and (max-width: $ds * 1px) {
    width: 95vw;
  }
}

// Mixins
@mixin easingGradient {
  background-image: linear-gradient( 
    0deg, 
    hsla(0, 0%, 0%, 0.65) 0%, 
    hsla(0, 0%, 0%, 0.602030178295) 16.57%, 
    hsla(0, 0%, 0%, 0.5286488340250001) 29.56%, 
    hsla(0, 0%, 0%, 0.43814814816500003) 39.93%, 
    hsla(0, 0%, 0%, 0.338820301755) 48.61%, 
    hsla(0, 0%, 0%, 0.23895747596500005) 56.57%, 
    hsla(0, 0%, 0%, 0.14685185183500005) 64.74%, 
    hsla(0, 0%, 0%, 0.07079561040500004) 74.07%, 
    hsla(0, 0%, 0%, 0.019080932780000004) 85.51%, 
    hsla(0, 0%, 0%, 0) 100%);
}

@mixin divider {
  content: '';
  display: inline-block;
  width: 6rem;
  height: 2px;
  background-color: $gold;
  margin: 3rem 0;
  @media screen and (max-width: $mb * 1px) {
    height: 1px;
  }
}

@mixin effraStack {
  font-family: 'effra', sans-serif;
}

@mixin eavesStack {
  font-family: 'mrs-eaves-xl-serif', serif;
}

// 100 Coaches Styling
// Base font setup
html {
  @extend %font-12;
}

body {
  @include effraStack;
  font-weight: 300;
  letter-spacing: 0.005em;
}

h1 {
  @include eavesStack;
  @extend %font-72;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: $darkGray;
  margin: 0;
}

h2 {
  @include eavesStack;
  @extend %font-36;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: $darkGray;
  margin: 1em 0 0;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  &:after {
    @include divider;
  }
}

h3 {
  @include eavesStack;
  @extend %font-36;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  color: $darkGray;
  margin: 0 0 .5em;
}

h4 {
  @include effraStack;
  @extend %font-18;
  text-transform: uppercase;
  letter-spacing: .125em;
  font-weight: 500;
  margin: .25em 0;
}

h5 {
  @include effraStack;
  @extend %font-16;
  font-weight: 300;
  font-style: italic;
  margin: .25em 0;
}

h6 {
  @include effraStack;
  @extend %font-13;
  text-transform: uppercase;
  color: $midLightGray;
  letter-spacing: .05em;
  font-weight: 500;
}

p {
  @include effraStack;
  @extend %font-24;
  line-height: 2;
  margin: 0 0 1.125em;
  font-weight: 300;
  text-align: left;
  color: $midGray;
}

// Global Elements 
section {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  padding: 3em 0;
}

.intro-text {
  @extend %font-30;
  line-height: 1.6;
  @extend %col-8;
  text-align: center;
  color: $midGray;
}

.text-link {
  @extend %font-18;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .1em;
  color: $gold;
  text-decoration: none;
  padding: .25em 0;
  @include transition(.3s color ease);
  &:hover {
    color: $goldLight;
  }
  &:after {
    @include LinkArrow;
    display: inline-block;
    font-size: .75em;
    margin-left: .25em
  }
}

.cta-link {
  @include linear-gradient(55deg, $goldDark, $gold);
  color: white;
  font-weight: 400;
  text-decoration: none;
  @extend %font-21;
  text-transform: uppercase;
  padding: .75em 2.5em;
  letter-spacing: .05em;
  margin: 2em 0;
  background-position: 100% 0%;
  @include transition(.3s filter ease);
  &:hover {
    filter: brightness(1.125)
  }
}

.divider{
  width: 100%;
  @include flexbox;
  @include justify-content(center);
  &:after {
    @include divider;
  }  
}

.icon {
  background: $lightestGray;
  width: 4rem;
  height: 4rem;
  text-decoration: none;
  color: $lightGray;
  @extend %font-21;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include transition(.15s color ease, .3s background-color ease);
  &.facebook:before {
    @include Facebook;
  }
  &.twitter:before {
    @include Twitter;
  }
  &.website:before {
    @include Link;
  }
  &.linkedin:before {
    @include LinkedIn;
  }
  &.instagram:before {
    @include Instagram;
  }
  &.share:before {
    @include Share;
  }
  &.print:before {
    @include Print;
  }
  span {
    font-size: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  &:hover {
    color: white;
    background-color: $gold;
  }
}


// Styling
nav.navbar {
  position: absolute;
  @extend %font-15;
  @include flexbox;
  @include justify-content(space-between);
  z-index: 10;
  width: 100%;
  .site-logo {
    @include flexbox;
    margin: .6em 1.8em;
    opacity: 1;
    @include transition(.3s opacity ease);
    .logo {
      height: 2.4em;
      padding: .6em;
    }
    &:hover {
      opacity: .75;
    }
  }
  &.home .site-logo {
    opacity: .75;
    &:hover {
      opacity: 1;
    }
  }
  .navbar-list {
    @include flexbox;
    margin-right: 1rem;
    .navbar-item {
      @include flexbox;
      @include justify-content(space-between);
      @include flex-direction(column);
      font-size: inherit;
      padding: 0 .3em;
      margin: 0 2.1em;
      color: inherit;
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: .075em;
      @include transition(.3s color ease);
      &:before,
      &:after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
      }
    }
  }
  &.home {
    color: rgba(white, .75);
    .navbar-item {
      &:hover {
        color: $goldLight;
      }
    }
  }
  &.interior {
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: white;
  }
}

.page-content {
  padding-top: 6rem;
}

footer.site-footer {
  @include flexbox;
  @include flex-direction(column);
  background-color: $darkestGray;
  padding: 3rem;
  .site-logo {
    height: 3rem;
  }
  .copyright {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: rgba(white, .85);
    text-align: center;
    margin-top: 1.5rem;
  }
}

#hero {
  @include clip-path(inset(0 0 0 0));
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  @extend %font-72;
  padding: 1.75em .5em 1.25em;
  background-color: $greenMid;
  @include linear-gradient(to top right, $greenDark, $green);
  animation: fadeIn .5s 0s ease;
  #hero-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
  h1 {
    margin: 0;
    padding: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }
  #hero-logo {
    width: 7.5em;
    max-width: 90%;
    margin-bottom: .5em;
  }
  .intro-text {
    margin: .125em 0 .5em;
    color: rgba(white, .75);
  }
  .text-link {
    @extend %font-21;
  }
}

#coaches {
  overflow: hidden;
  .intro-text {
    margin-bottom: 1.25rem;
  }
}

.coach {
  position: relative;
  cursor: pointer;
  img {
    width: 100%;
  }
  .info {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    text-shadow: 0 0 5px black;
    z-index: 2;
  }
  &:after {
    @include easingGradient;
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  img {
    @include transition(.3s opacity ease);
  }
  &:hover {
    img {
      opacity: .85;
    }
  }
}

#profile-page {
  text-align: center;
  .coach-profile {
    .coach-photo {
      flex: .75;
    }
    .profile-content {
      @extend %col-8;
      @include inline-flex;
      @include flex-direction(column);      
    }
  }
}

.coach-profile {
  .flex-row {
    @include flexbox;
    @include justify-content(space-between);
    padding: 3rem 3rem 0;
    & > * {
      @include flex(1);
    }
    .coach-photo {
      @include flex(1.25);
      img {
        width: 100%;  
      }
    }
    .coach-links {
      @include flexbox;
      .icon {
        margin: 0 .5rem 0 0;
      }
    }
    .functional-links {
      @include flexbox;
      @include justify-content(flex-end);
      .icon {
        margin: 0 0 0 .5rem;
        cursor: pointer;
      }
    }
  }
  h1 {
    @extend %font-36;
    margin: .75em 0 .5em;
  }
  h5 {
    @extend %font-21;
    color: $midGray;
    font-weight: 300;
    margin-bottom: .75em;
  }
  .tags {
    h6 {
      display: inline-block;
      margin: 0 1em;
    }
    .divider:after {
      margin: 2.25rem 0;
    }
  }
  .profile-content {
    padding: 0 3rem 3rem;
  }
}

#consultancy {
  position: relative;
  background-image: url('../assets/LightGrayGeometricBackground.svg');
  background-repeat: no-repeat;
  background-size: cover;
  &:before,
  &:after {
    content: '';
    display: block;
    position:absolute;
    width: 100%;
    height: 1.25rem;
    @include linear-gradient(90deg, lighten($lightGray, 10%), $lightestGray);
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom:0;
  }
}

#thought-leadership {
  overflow: hidden;
  .slick-nav {
    padding-top: 0;
  }
  h2:after {
    margin-bottom: 1.25rem;
  }
}

.thought {
  text-decoration: none;
  color: $midGray;
  @include transition(.3s color ease);
  h5 {
    font-style: normal;
    font-weight: 400;
    @extend %font-21;
    color: inherit;
  }
  h6 {
    font-weight: 400;
    margin: 0;
    @include transition(.3s opacity ease);
  }
  .image {
    width: 100%;
    height: 0;
    padding-bottom: 52.5%;
    position: relative;
    img {
      position:absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include transition(.3s opacity ease);
    }
    &:after {
      content: '';
      display: block;
      position:absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border: 1px solid rgba(black, 0.07);
      box-sizing: border-box;
    }
  }
  &:hover {
    color: $gold;
    img {
      opacity: .85;
    }
    h6 {
      opacity: .65;
    }
  }
}

#education {
  @include linear-gradient(to top right, $greenDark, $greenMid);
  @include flex-direction(row);
  @include align-items(stretch);
  .image {
    flex: 1;
    height: auto;
    position: relative;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%, -50%));
      height: 160%;
      max-width: 95%;
      object-fit: contain;
    }
  }
  .text {
    padding: 2rem 3rem 2rem 1.5rem;
    flex: 1;
  }
  h3 {
    color: white;
  }
  p {
    color: rgba(white, .75);
    line-height: 1.5;
  }
}

#institute {
  @include flex-direction(row);
  @include align-items(stretch);
  .headline {
    flex: 1;
    padding: 5rem 1.5rem 5rem 3rem;
    text-align: right;
  }
  .text {
    flex: 1;
    padding: 5rem 3rem 5rem 1.5rem;
    p {
      line-height: 1.5;
    }
  }
}

// Slick Slider

.slick-wrap {
  width: 100%;
  .slick-nav {
    @include flexbox;
    @include justify-content(flex-end);
    @include align-items(center);
    padding: 1.5vw 1.875vw 1.25vw;
    .view-all {
      @extend %font-13;
      position: relative;
      color: $green;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: .05em;
      padding: .5em;
      margin-right: 1em;
      @include transition(.2s color ease);
      &:after {
        content: '';
        display: block;
        position: absolute;
        pointer-events: none;
        right: -1em;
        top: .1em;
        bottom: .1em;
        width: 1px;
        opacity: .5;
        background: $lightGray;
      }
      &:hover {
        color: $greenLight;
      }
    }
    button.slick-arrow{
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: auto;
      height: auto;
      @include transform(translate(0,0));
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -moz-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      &:before {
        color: $green;
        @extend %font-21;
        padding: .25em;
        opacity: 1;
        @include transition(.15s color ease);
      }
      &.slick-prev {
        margin-left: .9rem;
        margin-right: .6rem;
        &:before {
          @include CarouselArrowPrev;
        }
      }
      &.slick-next {
        &:before {
          @include CarouselArrowNext;
        }
      }
      &:hover {
        &:before {
          color: $greenLight;
        }
      }
      &.slick-disabled {
        cursor: default;
        pointer-events: none;
        &:before {
          color: $lightGray;
          opacity: .5;
        }
       &:hover {
          color: inherit;
        }
      }
    }
    @media screen and (max-width: $tb * 1px ) {
      .view-all {
        font-size: 1.25rem;
      }
      button.slick-arrow:before {
        font-size: 2rem;
      }
    }
  }
  .slick-slider {
    width: 100%;
    padding-left: 1.6667vw;
    padding-right: 1.6667vw;
    padding-bottom: 3.5vw;
    .slick-list {
      overflow: visible;
      .slick-track {
        >div>div {
          padding: 0 .83333vw;
        }
      }
    }
  }
}


// Lightbox

.lightbox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity:0;
  visibility: hidden;
  text-align: center;
  @include transform(translate3D(0, 0, 0));
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  @include transition(.3s opacity ease-in);
  .lightbox-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    @include transform(translate3D(0,0,0));
    .wrapper-inner {
      position: relative;
    }
    .lightbox-container {
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
      @include transform(translate3D(0,0,0));
      background: white;
      margin: 2.5vw 0 3.125vw;
      position: relative;
      z-index: 10;
      box-shadow: 0 1vw 5vw rgba(0,0,0,.1), 0 0 0.75vw rgba(0,0,0,.05);
      @include inline-flex;
      @include flex-direction(column);
      .lightbox-content {
        @extend %col-8;
      }
    }
    .lightbox-bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      z-index: 1;
    }  
  }
  nav {
    @include justify-content(space-between);
    @include align-items(center);
    @include flexbox;
    padding: 2rem 3rem;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    .site-logo {
      height: 3rem;
    }
    .close-button {
      cursor: pointer;
      @include justify-content(center);
      @include align-items(center);
      @include flexbox;
      @extend %font-36;
      color: $midGray;
      @include transition(.1s color ease);
      &:before{
        @include XLarge;
      }
      &:hover {
        color: $greenLight;
      }
    }
  }
}

body.lightbox-open {
  overflow: hidden;
  .lightbox {
    opacity: 1;
    visibility: visible;
  }
  #main-content, nav.navbar {
    @include filter(blur(20px));
    opacity: .5;
  }
  video {
    visibility: hidden;
  }
}

#main-content, nav.navbar {
  @include transition(.3s filter linear)
}


// Keyframes

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}