@import "./_prefixes.scss";
@import "./_normalize.scss";
@import "./_icomoon.scss";
@import url("https://use.typekit.net/xln8mvd.css");

// Config vars
$dl: 1800;
$dt: 1440;
$ds: 1080;
$tb: 768;
$mb: 480;

$green: hsl(154, 33%, 37%);
$greenLight: hsl(154, 36%, 50%);
$greenMid: hsl(165, 56%, 22%);
$greenDark: hsl(174, 70%, 12%);
$gold: hsl(39, 77%, 60%);
$goldLight: hsl(43, 100%, 72%);
$goldDark: hsl(33, 57%, 47%);
$darkestGray: hsl(180, 5%, 19%);
$darkGray: hsl(163, 5%, 27%);
$midGray: hsl(156, 5%, 38%);
$midLightGray: hsl(153, 5%, 57%);
$lightGray: hsl(154, 6%, 75%);
$lightestGray: hsl(0, 0%, 95%);

$sizeList: 12 13 15 16 18 21 24 30 36 72;

@each $fontSize in $sizeList {
  %font-#{$fontSize} {
    @media screen and (min-width: $dl * 1px) {
      font-size: $fontSize / $dl * 85vw;
    }
    @media screen and (max-width: $dl * 1px) {
      font-size: $fontSize / $dl * 100vw;
    }
    @media screen and (max-width: $dt * 1px) {
      font-size: $fontSize / $dt * 100vw;
    }
    @media screen and (max-width: $ds * 1px) {
      font-size: $fontSize / $ds * 95vw;
    }
    @media screen and (max-width: $tb * 1px) {
      font-size: $fontSize / $tb * 90vw;
    }
    @media screen and (max-width: $mb * 1px) {
      font-size: $fontSize / $mb * 87.5vw;
    }
  }
}

%font-72 {
  @media screen and (max-width: $mb * 1px) {
    font-size: 6rem * .75;
  }
}

%col-8 {
  width: 62.5vw;
  @media screen and (max-width: $ds * 1px) {
    width: 95vw;
  }
  @media screen and (max-width: $tb * 1px) {
    width: 90vw;
  }
}

%col-10 {
  width: 78.75vw;
  @media screen and (max-width: $tb * 1px) {
    width: 90vw;
  }
}

%col-12 {
  width: 95vw;
  @media screen and (max-width: $tb * 1px) {
    width: 90vw;
  }
}

%absolute-fill {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%geometric-bg {
  background-image: url('../assets/LightGrayGeometricBackground.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// Mixins
@mixin easingGradient {
  background-image: linear-gradient( 
    0deg, 
    hsla(0, 0%, 0%, 0.65) 0%, 
    hsla(0, 0%, 0%, 0.602030178295) 16.57%, 
    hsla(0, 0%, 0%, 0.5286488340250001) 29.56%, 
    hsla(0, 0%, 0%, 0.43814814816500003) 39.93%, 
    hsla(0, 0%, 0%, 0.338820301755) 48.61%, 
    hsla(0, 0%, 0%, 0.23895747596500005) 56.57%, 
    hsla(0, 0%, 0%, 0.14685185183500005) 64.74%, 
    hsla(0, 0%, 0%, 0.07079561040500004) 74.07%, 
    hsla(0, 0%, 0%, 0.019080932780000004) 85.51%, 
    hsla(0, 0%, 0%, 0) 100%);
}

@mixin divider {
  content: '';
  display: inline-block;
  width: 6rem;
  height: 2px;
  background-color: $gold;
  margin: 3rem 0;
  @media screen and (max-width: $mb * 1px) {
    height: 1px;
  }
}

@mixin effraStack {
  font-family: 'effra', sans-serif;
}

@mixin eavesStack {
  font-family: 'mrs-eaves-xl-serif', serif;
}

// 100 Coaches Styling
// Base font setup
html {
  @extend %font-12;
}

body {
  @include effraStack;
  font-weight: 300;
  letter-spacing: 0.005em;
}

h1 {
  @include eavesStack;
  @extend %font-72;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .1em;
  color: $darkGray;
  margin: 1.5em 0 0;
  @extend %col-12;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  &:after {
    @include divider;
  }
}

h2 {
  @include eavesStack;
  @extend %font-36;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .1em;
  color: $darkGray;
  margin: 1em 0 0;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  &:after {
    @include divider;
  }
}

h3 {
  @include eavesStack;
  @extend %font-36;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  color: $darkGray;
  margin: 0 0 .5em;
}

h4 {
  @include effraStack;
  @extend %font-18;
  text-transform: uppercase;
  letter-spacing: .125em;
  font-weight: 500;
  margin: .25em 0;
}

h5 {
  @include effraStack;
  @extend %font-16;
  font-weight: 400;
  font-style: italic;
  margin: .25em 0;
}

h6 {
  @include effraStack;
  @extend %font-13;
  text-transform: uppercase;
  color: $midLightGray;
  letter-spacing: .05em;
  font-weight: 500;
}

p {
  @include effraStack;
  @extend %font-24;
  line-height: 2;
  margin: 0 0 1.125em;
  font-weight: 300;
  text-align: left;
  color: $midGray;
  b, strong {
    font-weight: 500;
  }
}

// Global Elements 
section {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  padding: 3em 0;
  position: relative;
  box-sizing: border-box;
}

.intro-text {
  @extend %font-30;
  line-height: 1.6;
  @extend %col-8;
  text-align: center;
  color: $midGray;
}

.text-link {
  @extend %font-18;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .1em;
  color: $gold;
  text-decoration: none;
  padding: .25em 0;
  @include transition(.3s color ease);
  &:hover {
    color: $goldLight;
  }
  &:after {
    @include LinkArrow;
    display: inline-block;
    font-size: .75em;
    margin-left: .25em
  }
}

.cta-link {
  @include linear-gradient(55deg, $goldDark, $gold);
  background-repeat: no-repeat;
  color: white;
  font-weight: 400;
  text-decoration: none;
  @extend %font-21;
  text-transform: uppercase;
  padding: .75em 2.5em;
  letter-spacing: .05em;
  margin: 2em 0;
  background-position: 100% 0%;
  @include transition(.3s filter ease);
  &:hover {
    filter: brightness(1.125)
  }
}

.divider{
  width: 100%;
  @include flexbox;
  @include justify-content(center);
  &:after {
    @include divider;
  }  
}

.icon {
  background: $lightestGray;
  width: 4rem;
  height: 4rem;
  text-decoration: none;
  color: $lightGray;
  @extend %font-21;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include transition(.15s color ease, .3s background-color ease);
  &.facebook:before {
    @include Facebook;
  }
  &.twitter:before {
    @include Twitter;
  }
  &.website:before {
    @include Link;
  }
  &.linkedin:before {
    @include LinkedIn;
  }
  &.instagram:before {
    @include Instagram;
  }
  &.share:before {
    @include Share;
  }
  &.print:before {
    @include Print;
  }
  span {
    font-size: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  &:hover {
    color: white;
    background-color: $gold;
  }
  @media screen and (max-width: $tb * 1px) {
    width: 36px;
    height: 36px;
    font-size: 18px;
  }
}


// Styling
nav.navbar {
  position: fixed;
  @extend %font-15;
  @include flexbox;
  @include justify-content(space-between);
  z-index: 10;
  width: 100%;
  .site-logo {
    @include flexbox;
    margin: .6em 1.8em;
    opacity: 1;
    z-index: 12;
    @include transition(margin .3s ease .3s, opacity .3s ease );
    .logo {
      height: 2.4em;
      min-height: 24px;
      padding: .6em;
      @include transition(height .3s ease .3s, padding-top .3s ease .3s);
    }
    &:hover {
      opacity: .75;
    }
  }
  &.scrolled {
    .site-logo {
      margin: 0.1em 1.8em;
      .logo {
        height: 2em;
        padding-top: .4em;
      }
    }
  }
  &.home:not(.scrolled) .site-logo {
    opacity: .75;
    &:hover {
      opacity: 1;
    }
  }
  &:after {
    content: '';
    display: block;
    @extend %absolute-fill;
    z-index: 11;
    pointer-events: none;
    @include transition(.3s ease);
  }
  .navbar-list {
    @include flexbox;
    margin-right: 1rem;
    .navbar-item {
      @include flexbox;
      @include justify-content(space-between);
      @include flex-direction(column);
      font-size: inherit;
      padding: 0 .3em;
      margin: 0 2.1em;
      color: inherit;
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: .075em;
      @include transition(.3s color ease);
      z-index: 12;
      &:hover {
        color: $greenLight;
      }
      &:before,
      &:after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
      }
      &.active {
        color: $greenLight;
        pointer-events: none;
        &:before {
          background-color: $greenLight;
        }
      }
    }
  }
  &.home:not(.scrolled) {
    color: rgba(white, .75);
    .navbar-item {
      &:hover {
        color: $goldLight;
      }
    }
  }
  &.interior:after,
  &.scrolled:after {
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: white;
  }
  @media screen and (max-width: $tb * 1px) {
    .navbar-list {
      position: absolute;
      width: 100%;
      height: auto;
      max-height: 100vh;
      overflow: scroll;
      opacity: 0;
      transform: translate3d(0, -100%, 0);
      @include transition(transform .3s ease, opacity 0s .3s ease);
      @include flex-direction(column);
      @include align-items(center);
      padding: calc(24px + 5rem) 2rem 2rem;
      box-sizing: border-box;
      background-color: white;
      box-shadow: 0 3px 9px rgba(0,0,0,.1), 0 1px 0 rgba(0,0,0,.05);
      .navbar-item {
        color: $greenLight;
        font-size: 2rem;
        margin: 1.5rem 0;
        flex-shrink: 0;
        &.active {
          &:before {
            background: transparent;
          }
          &:after {
            background: $greenLight;
          }
        }
      }
      z-index: 10;
    }
    .site-logo,
    &.scrolled .site-logo {
      z-index: 13;
      margin: .6rem calc(4.25vw - .6em);
      .logo {
        height: 2em;
        padding: .4em .6em;
      }
    }
    .mobile-nav-button {
      position: relative;
      height: auto;
      width: 24px;
      margin: 1rem 2rem;
      padding: 0;
      @include transform(rotate(0deg));
      @include transition(.5s ease-in-out);
      cursor: pointer;
      z-index: 13;
      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        opacity: 1;
        left: 0;
        background-color: $green;
        @include transition(.25s ease-in-out);
        &:nth-child(1) {
          top: calc(50% - 9px);
          @include transform(translateY(-50%));
          z-index:10;
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 50%;
          @include transform(translateY(-50%));
          z-index: 11;
        }
        &:nth-child(4) {
          bottom: calc(50% - 9px);
          @include transform(translateY(50%));
          z-index: 10
        }
      }
    }
    &.home:not(.scrolled) {
      .mobile-nav-button span {
        background-color: rgba(white, .85);
      }
    }
    &.activated {
      &:before {
        background-color: rgba(black, .15);
      }
      &:after {
        box-shadow: 0 1px 0 rgba(0,0,0,.1);
      }
      .navbar-list {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        @include transition(transform .3s ease, opacity .1s ease);
      }
      .mobile-nav-button {
        span {
          &:nth-child(1) {
            top: 50%;
            width: 0%;
            left: 50%;
          }
          &:nth-child(2) {
            @include transform(rotate(45deg));
            background-color: $gold;
          }
          &:nth-child(3) {
            @include transform(rotate(-45deg));
            background-color: $gold;
          }
          &:nth-child(4) {
            width: 0%;
            left: 50%;
            bottom: 50%;
          }
        }
      }
    }
  }
}

.page-content {
  padding-top: 6rem;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
}

footer.site-footer {
  position: relative;
  @include flexbox;
  @include flex-direction(column);
  background-color: $darkestGray;
  padding: 3rem;
  .site-logo {
    height: 3rem;
  }
  .copyright {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: rgba(white, .85);
    text-align: center;
    margin-top: 1.5rem;
  }
}

#home-page {
  padding-top: 0;
  display: block;
  #hero {
    @include clip-path(inset(0 0 0 0));
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @extend %font-72;
    padding: 12rem 3rem 8rem;
    background-color: $greenMid;
    @include linear-gradient(to top right, $greenDark, $green);
    @include clip-path(inset(0 0 0 0));
    overflow: hidden;
    animation: fadeIn .5s 0s ease;
    #hero-video {
      @extend %absolute-fill;
      object-fit: cover;
      z-index: -100;
      background-size: cover;
      &::-webkit-media-controls-overlay-play-button,
      &::-webkit-media-controls-start-playback-button {
        display: none !important;
      }
    }
    h1 {
      margin: 0;
      padding: 0;
      visibility: hidden;
      height: 0;
      overflow: hidden;
    }
    #hero-logo {
      width: 7.5em;
      max-width: 90%;
      margin-bottom: .5em;
    }
    .intro-text {
      margin: .125em 0 .5em;
      color: rgba(white, .75);
    }
    .text-link {
      @extend %font-21;
    }
  }
}

#coaches {
  overflow: hidden;
  .intro-text {
    margin-bottom: 1.25rem;
  }
}

.coach {
  position: relative;
  cursor: pointer;
  animation: fadeIn .5s 0s ease;
  .image-wrap {
    width:100%;
    height:0;
    padding-bottom: 100%;
    position: relative;
    background-color: $lightGray;
    img {
      @extend %absolute-fill;
      object-fit: cover;
    }
  }
  .info {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    padding: 1rem .75rem;
    box-sizing: border-box;
    text-align: center;
    text-shadow: 0 0 5px black;
    z-index: 2;
    @include easingGradient;
    min-height: 50%;
    @include flexbox;
    @include justify-content(flex-end);
    @include flex-direction(column);
    @media screen and (max-width: $tb * 1px) {
      position: relative;
      padding: .25rem 0 .75rem;
      text-shadow: none;
      color: $darkGray;
      background: none;
      h5 {
        margin-top: 0;
      }
    }
  }
  img {
    @include transition(.3s opacity ease);
  }
  &:hover {
    img {
      opacity: .85;
    }
    @media (pointer: coarse) and (hover: none) {
      opacity: 1;
    }
  }
}

#profile-page {
  text-align: center;
  .coach-profile {
    .profile-content {
      @extend %col-8;
    }
    @media screen and (max-width: $tb * 1px) {
      .profile-content {
        width: 100%;
      }
    }
  }
}

.coach-profile {
  .flex-row {
    @include flexbox;
    @include justify-content(space-between);
    padding: 3rem 3rem 0;
    & > * {
      @include flex(1);
    }
    .coach-photo {
      @include flex(1.25);
      @include flexbox;
      @include justify-content(center);
      .image-wrap-outer {
        width: 100%;
        .image-wrap {
          width: 100%;
          height: 0px;
          padding-bottom: 100%;
          position: relative;
        }
        img {
          @extend %absolute-fill;
          object-fit: cover;
        }
      }
    }
    .coach-links {
      @include flexbox;
      .icon {
        margin: 0 .5rem 0 0;
      }
    }
    .functional-links {
      @include flexbox;
      @include justify-content(flex-end);
      .icon {
        margin: 0 0 0 .5rem;
        cursor: pointer;
      }
    }
    @media screen and (max-width: $tb * 1px) {
      padding: 1rem 2rem 0;
      @include flex-wrap(wrap);
      & > * {
        @include flex(auto);
      }
      .coach-photo { 
        @include flex(auto);
        order: 3;
        width: 100%;
        .image-wrap-outer {
          margin-top: 2rem;
          width: 75%;
          max-width: $mb * .5px;
        }
      }
    }
  }
  .profile-content {
    box-sizing: border-box;
    padding: 0 3rem 3rem;
    @media screen and (max-width: $tb * 1px) {
      padding: 0 2rem 3rem;
    }
    h1 {
      @extend %font-36;
      margin: .75em 0 .5em;
      width: 100%;
      &:after {
        display: none;
      }
    }
    h5 {
      @extend %font-21;
      color: $midGray;
      font-weight: 300;
      margin-bottom: .75em;
    }
    .tags {
      h6 {
        display: inline-block;
        margin: 0 1em;
      }
    }
    .contact-link {
      padding: .75em 1.25em;
      margin: 2.25rem 0;
      display: inline-block;
      h6 {
        margin: 0;
        color: white;
      }
    }
    .divider:after {
      margin: 2.25rem 0;
    }
    .bio {
      h2 {
        @extend h4;
        margin-top: 1em;
        text-align: left;
        display: inline-block;
        width: 100%;
        &:after {
          display: none;
        }
      }
      a {
        color: $greenLight;
        text-decoration: none;
        font-weight: 400;
        @include transition(color .2s ease);
        &:hover {
          color: $gold;
        }
      }
      ul {
        padding-left: 2.25em;
        margin-bottom: 3rem;
        li {
          @extend p;
          margin-bottom: .25em;
        }
      }
      blockquote {
        margin: 4rem 0 0;
        box-sizing: border-box;
        padding-left: 2rem;
        border-left: 2px solid lighten($lightGray, 15);
        p {
          color: $midLightGray;
        }
      }
    }
  }
}

.notification {
  position: fixed;
  bottom: 0;
  left: 50%;
  @include transform(translate3D(-50%, 130%, 0));
  opacity: 0;
  visibility: hidden;
  padding: 2rem;
  background-color: $greenLight;
  color: white;
  font-size: 1.5rem;
  max-width: 90%;
  text-align: center;
  z-index: 100;
  em {
    font-style: normal;
    font-weight: 400;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    @include transform(translate3D(-50%, 0, 0));
    @include transition(.3s transform ease);
  }
  &.inactive {
    opacity: 0;
    visibility: hidden;
    @include transition(.5s 1.5s all ease);
  }
}

#consultancy {
  position: relative;
  @extend %geometric-bg;
  &:before,
  &:after {
    content: '';
    display: block;
    position:absolute;
    width: 100%;
    height: 1.25rem;
    @include linear-gradient(90deg, lighten($lightGray, 10%), $lightestGray);
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom:0;
  }
}

#thought-leadership {
  overflow: hidden;
  .slick-nav {
    padding-top: 0;
  }
  h2:after {
    margin-bottom: 1.25rem;
  }
}

.thought {
  text-decoration: none;
  color: $midGray;
  @include transition(.3s color ease);
  h5 {
    font-style: normal;
    font-weight: 400;
    @extend %font-21;
    color: inherit;
  }
  h6 {
    font-weight: 400;
    margin: 0;
    @include transition(.3s opacity ease);
  }
  .image {
    width: 100%;
    height: 0;
    padding-bottom: 52.5%;
    position: relative;
    img {
      @extend %absolute-fill;
      object-fit: cover;
      @include transition(.3s opacity ease);
    }
    &:after {
      content: '';
      display: block;
      @extend %absolute-fill;
      border: 1px solid rgba(black, 0.07);
      box-sizing: border-box;
    }
  }
  &:hover {
    color: $gold;
    img {
      opacity: .85;
    }
    h6 {
      opacity: .65;
    }
    @media (pointer: coarse) and (hover: none) {
      color: inherit;
      img, h6 {
        opacity: 1;
      }
    }
  }
}

#education {
  @include linear-gradient(to top right, $greenDark, $greenMid);
  @include flex-direction(row);
  @include align-items(stretch);
  .image {
    flex: 1;
    height: auto;
    position: relative;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%, -50%));
      height: 160%;
      max-width: 95%;
      object-fit: contain;
    }
  }
  .text {
    padding: 2rem 3rem 2rem 1.5rem;
    flex: 1;
  }
  h3 {
    color: white;
  }
  p {
    color: rgba(white, .75);
    line-height: 1.5;
  }
  @media screen and (max-width: 540px) {
    @include flex-direction(column);
    margin-top: 5%;
    .image {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: -15%;
      margin-bottom: -5%;
      img {
        position: relative;
        height: 100%;
        max-width: 65%;
        width: 100%;
        @include transform(none);
        top: auto;
        left: auto;
      }
    }
    .text {
      padding: 2rem 5vw;
    }
  }
}

#institute {
  @include flex-direction(row);
  @include align-items(stretch);
  .headline {
    flex: 1;
    padding: 5rem 1.5rem 5rem 3rem;
    text-align: right;
  }
  .text {
    flex: 1;
    padding: 5rem 3rem 5rem 1.5rem;
    p {
      line-height: 1.5;
    }
  }
}

// About Page

#about-page {
  margin-bottom: 9rem;
  h1 {
    @extend %col-12;
  }
  .content {
    @extend %col-8;
    h2 {
      margin-top: 2em;
      &:after {
        margin-bottom: 2.5rem;
      }
    }
  }
}

.video-container {
  margin: 3rem 0 2rem;
  @extend %col-12;
  @include flexbox;
  @extend %geometric-bg;
  .player-wrapper {
    flex: 2;
    @include flexbox;
    @include align-items(center);
    background-color: rgba(black, .10);
    .player-wrapper-inner {
      width: 100%;
      position: relative;
      padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
      .react-player {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .info-wrapper {
    padding: 4rem 3rem;
    flex: 1;
    h3{
      @extend %font-30;
      margin-bottom: .5em;
    }
    h6 {
      margin: 0 0 1em;
      color: lighten($midLightGray, 10);
    }
    p {
      @extend %font-21;
      margin-bottom: .75em;
      line-height: 1.75;
      color: $midLightGray;
    }
    @media screen and (max-width: $mb * 1px) {
      padding: 3rem 2rem;
    }
  }
  @media screen and (max-width: $tb * 1px) {
    @include flex-direction(column);
    margin-bottom: 0;
  }
}

// Slick Slider

.slick-wrap {
  width: 100%;
  overflow: hidden;
  .slick-nav {
    @include flexbox;
    @include justify-content(flex-end);
    @include align-items(center);
    padding: 1.5vw 1.875vw 1.25vw;
    .view-all {
      @extend %font-13;
      position: relative;
      color: $green;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: .05em;
      padding: .5em;
      margin-right: 1em;
      @include transition(.2s color ease);
      &:after {
        content: '';
        display: block;
        position: absolute;
        pointer-events: none;
        right: -1em;
        top: .1em;
        bottom: .1em;
        width: 1px;
        opacity: .5;
        background: $lightGray;
      }
      &:hover {
        color: $greenLight;
      }
    }
    button.slick-arrow{
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: auto;
      height: auto;
      @include transform(translate(0,0));
      @include flexbox;
      &:before {
        color: $green;
        @extend %font-21;
        padding: .25em;
        opacity: 1;
        @include transition(.15s color ease);
      }
      &.slick-prev {
        margin-left: .9rem;
        margin-right: .6rem;
        &:before {
          @include CarouselArrowPrev;
        }
      }
      &.slick-next {
        &:before {
          @include CarouselArrowNext;
        }
      }
      &:hover {
        &:before {
          color: $greenLight;
        }
      }
      &.slick-disabled {
        cursor: default;
        pointer-events: none;
        &:before {
          color: $lightGray;
          opacity: .5;
        }
       &:hover {
          color: inherit;
        }
      }
    }
    @media screen and (max-width: $tb * 1px ) {
      .view-all {
        font-size: 1.25rem;
      }
      button.slick-arrow:before {
        font-size: 2rem;
      }
    }
    @media (pointer: coarse) and (hover: none) {
      margin-bottom: 1em;
      button.slick-arrow {
        display: none;
      }
      .view-all{
        margin-right: 0;
        &:after {
          display: none;
        } 
      }
    }
  }
  .slick-slider {
    width: 100%;
    padding-left: 1.75vw;
    padding-right: 1.75vw;
    padding-bottom: 3.5vw;
    .slick-list {
      overflow: visible;
      .slick-track {
        >div>div {
          padding: 0 .75vw;
        }
      }
    }
    @media screen and (max-width: $tb * 1px) {
      padding-left: 4vw;
      padding-right: 4vw;
      .slick-list .slick-track>div>div {
        padding: 0 1vw;
      }
    }
  }
}

#coaches-page {
  h1:after {
    margin-bottom: 1rem;
  }
  .carousel-wrap {
    width: 100vw;
  }
  .coach-list {
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(flex-start);
    width: 100%;
    padding: 0 calc(2.5vw - 1rem) 9rem;
    .coach-wrap {
      padding: 1rem;
      width: 25%;
      box-sizing: border-box;
      @media screen and (min-width: $dt * 1px + 1px) {
        width: 20%;
      }
      @media screen and (max-width: $tb * 1px) {
        width: 33.333%;
        padding: .25rem .75rem;
      }
      @media screen and (max-width: $mb * 1px) {
        width: 50%;
      }
    }
    @media screen and (max-width: $tb * 1px) {
      padding: 0 calc(5vw - .75rem) 9rem;
    }
  }
  #filters {
    .slick-slider {
      padding-bottom: 1vw;
    }
    .slick-nav {
      padding-bottom: 0;
    }
    h3 {
      cursor: pointer;
      padding: .25em 0;
      margin-right: .25em;
      margin-bottom: 1rem;
      margin-top: 1rem;
      color: lighten($lightGray, 10);
      @include transition(color .2s ease);
      @media screen and (max-width: $mb * 1px) {
        font-size: 2.5rem;
      }
      &:hover {
        color: $greenLight;
        @media (pointer: coarse) and (hover: none) {
          color: lighten($lightGray, 10);
        }
      }
      &.active {
        color: $green;
      }
    }
      
  }
}

#contact-page {
  .contact-link
  {
    span {
      color: #aaa;
    }
    a {
      text-decoration: none;
      color: $green;
      @include transition(color .2s ease);
      &:hover {
        color: $greenLight;
      }
    }
  }
  .service {
    @extend %col-10;
    @include flexbox;
    margin: 9rem 0 0;
    &:last-child {
      margin-bottom: 12rem;
    }
    .coach-wrap {
      width: 27.5%;
      @include order(1);
      @media screen and (max-width: $mb * 1px) {
        display: none;
      }
      .coach {
        cursor: default;
        &:hover img {
          opacity: 1;
        }
      }
    }
    .service-text {
      width: 72.5%;
      padding-left: 3rem;
      @include order(2);
      h2 {
        margin-top: 0;
        margin-bottom: .5em;
        text-align: left;
        @include align-items(flex-start);
        &:after {
          display: none;
        }
      }
      p {
        line-height: 1.75;
        margin-bottom: .75em;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @media screen and (max-width: $mb * 1px) {
        width: 100%;
        padding: 0;
      }
    }
  }
}


// Lightbox

.lightbox {
  @extend %absolute-fill;
  position: fixed;
  text-align: center;
  z-index: 99;
  @include transform(translate3D(0, 0, 0));
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  background-color: rgba(white, 0);
  @include transition(.1s background-color ease);
  .lightbox-wrapper {
    @extend %absolute-fill;
    position: fixed;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    @include transform(translate3D(0,0,0));
    .wrapper-inner {
      position: relative;
    }
    .lightbox-container {
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
      @include transform(translate3D(0,0,0));
      opacity: 0;
      @include transition(.3s opacity ease);
      background: white;
      margin: 2rem 0 3rem;
      position: relative;
      z-index: 10;
      box-shadow: 0 1vw 5vw rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.05);
      @include inline-flex;
      @include flex-direction(column);
      .lightbox-content {
        width: 62.5vw;
        min-width: $tb * .9px;
        @media screen and (max-width: $tb * 1px) {
          width: 90vw;
          min-width: auto;
        }
      }
    }
    .lightbox-bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      z-index: 1;
    }  
  }
  nav {
    @include justify-content(space-between);
    @include align-items(center);
    @include flexbox;
    padding: 2rem 3rem;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    .site-logo {
      height: 3rem;
      width: auto;
      min-height: 24px;
      padding: 0;
    }
    .close-button {
      cursor: pointer;
      @include justify-content(center);
      @include align-items(center);
      @include flexbox;
      @extend %font-36;
      color: $midGray;
      @include transition(.1s color ease);
      &:before{
        @include XLarge;
      }
      &:hover {
        color: $greenLight;
      }
    }
  }
  @media screen and (max-width: $tb * 1px) {
    .lightbox-wrapper {
      .wrapper-inner {
        .lightbox-container {
          nav {
            padding: 1.25rem 2rem;
            box-sizing: border-box;
            width: 100%;
          }
        }
      }
    }
  }
}

body.lightbox-open {
  overflow: hidden;
  #content {
    pointer-events: none;
  }
  .lightbox {
    background-color: rgba(#f2f2f2, .95);
    .lightbox-wrapper .lightbox-container {
      opacity: 1;
    }
  }
  video {
    visibility: hidden;
  }
}


// Keyframes
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


// Print

@media print {
  html {
    font-size: 10pt !important;
  }
  footer.site-footer {
    display:none;
  }
  nav.navbar {
    position: static !important;
    overflow: visible;
    margin: 0 0 1.25rem;
    padding: 0 0 .75rem;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    &:after {
      display: none;
    }
    .site-logo { 
      margin: 0 !important;
      padding: 0;
      .logo {
        height: 1.75rem !important;
        padding: 0;
        min-height: auto;
      }
    }
    .navbar-list {
      display: none;
    }
  }
  body.lightbox-open {
    overflow: auto;
    nav.navbar,
    #content {
      display: none;
    }
    .lightbox {
      position: relative;
      .lightbox-wrapper {
        overflow: visible;
        display: block;
        position: static;
        .lightbox-bg {
          display: none;
        }
        .lightbox-container {
          margin: 0;
          box-shadow: none;
          display: block;
          position: static;
          nav {
            display: block;
            position:relative;
            text-align: left; 
            padding: 0 0 .5rem;
            margin-bottom: 1.25rem;
            .site-logo {
              height: 1.75rem;
              min-height: auto;
            }
            .close-button {
              display: none;
            }
          }
          .lightbox-content {
            display: block;
            position: static;
            width: 100%;
            min-width: auto;
          }
        }
      }
    }
  }
  .coach-profile {
    .flex-row {
      padding: 0;
      display: block;
      .coach-photo {
        width: 25%;
        margin: 0 auto;
      }
      .coach-links, 
      .functional-links{
        display: none;
      }
    }
    .profile-content {
      width: 100% !important;
      padding: 0;
      display: block !important;
      .divider,
      .contact-link {
        display: none;
      }
      .tags {
        margin-bottom: 1.5rem;
      }
    }
  }
  #profile-page {
    padding-top: 0 !important;
  }
}